In [1]:
import pandas as pd
from pathlib import Path

In [3]:
df = pd.read_csv('vine_table.csv')
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RED72VWWCOS7S,1.0,2.0,8.0,N,Y
1,RZHWQ208LTEPV,5.0,0.0,0.0,N,Y
2,R37LBC3XAVLYOO,5.0,4.0,5.0,N,Y
3,R3L7XJMA0MVJWC,5.0,0.0,0.0,N,Y
4,R2I2GHSI7T1UBN,1.0,5.0,6.0,N,Y

In [4]:
# create the vine_df with reviews 
update_df = df.loc[df['total_votes'] >= 20]
update_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
159,RQQ3KVTU5TJ4I,5.0,24.0,29.0,N,Y
213,R3FELXWV9T5CWE,2.0,22.0,24.0,N,Y
225,ROBYK6EZYK398,5.0,29.0,30.0,N,Y
252,R2RKCSAG6GBA4A,1.0,8.0,28.0,N,Y
311,R2YVBBR6NXIA4V,5.0,25.0,28.0,N,N
...,...,...,...,...,...,...
2557282,R19OAQWX9CYMOQ,3.0,45.0,52.0,N,N
2557284,RGL89WE5DFU75,5.0,19.0,24.0,N,N
2557285,R203ZDOKV987E5,3.0,231.0,236.0,N,N
2557286,R8GD7D9HK6S2W,5.0,17.0,29.0,N,N
2557287,R2QCF5NWYPK06U,5.0,86.0,106.0,N,N

In [5]:
helpful_votes_df = update_df.loc[update_df['helpful_votes']/update_df['total_votes'] >= 0.5]
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
159,RQQ3KVTU5TJ4I,5.0,24.0,29.0,N,Y
213,R3FELXWV9T5CWE,2.0,22.0,24.0,N,Y
225,ROBYK6EZYK398,5.0,29.0,30.0,N,Y
311,R2YVBBR6NXIA4V,5.0,25.0,28.0,N,N
558,R2AVTBDIVG2AW4,5.0,26.0,26.0,N,N
...,...,...,...,...,...,...
2557282,R19OAQWX9CYMOQ,3.0,45.0,52.0,N,N
2557284,RGL89WE5DFU75,5.0,19.0,24.0,N,N
2557285,R203ZDOKV987E5,3.0,231.0,236.0,N,N
2557286,R8GD7D9HK6S2W,5.0,17.0,29.0,N,N
2557287,R2QCF5NWYPK06U,5.0,86.0,106.0,N,N

In [6]:
vine_review_df = helpful_votes_df.loc[helpful_votes_df['vine'] == 'Y']
vine_review_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
37363,R28DXTC3JQ9IY1,4.0,24.0,26.0,Y,N
58520,R3AFZKLQXATHBU,5.0,44.0,49.0,Y,N
83985,R2RUUF2JPJPC0E,4.0,20.0,22.0,Y,N
90459,RFZ2WUH4248AB,2.0,26.0,27.0,Y,N
95122,R1Q4LVHIFOWYFR,5.0,23.0,28.0,Y,N
...,...,...,...,...,...,...
2493457,R3VJ31ZXGGEIA7,3.0,26.0,40.0,Y,N
2496815,R3G3DHILRCTHU7,4.0,28.0,28.0,Y,N
2498001,R3KEI56N0J7WVA,5.0,63.0,64.0,Y,N
2498022,R27NCPPLBK9MJM,5.0,31.0,33.0,Y,N
2498072,R29XHJ9MWZM9TK,5.0,305.0,322.0,Y,N

In [7]:
unpaid_review_df = helpful_votes_df.loc[helpful_votes_df['vine'] == 'N']
unpaid_review_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
159,RQQ3KVTU5TJ4I,5.0,24.0,29.0,N,Y
213,R3FELXWV9T5CWE,2.0,22.0,24.0,N,Y
225,ROBYK6EZYK398,5.0,29.0,30.0,N,Y
311,R2YVBBR6NXIA4V,5.0,25.0,28.0,N,N
558,R2AVTBDIVG2AW4,5.0,26.0,26.0,N,N
...,...,...,...,...,...,...
2557282,R19OAQWX9CYMOQ,3.0,45.0,52.0,N,N
2557284,RGL89WE5DFU75,5.0,19.0,24.0,N,N
2557285,R203ZDOKV987E5,3.0,231.0,236.0,N,N
2557286,R8GD7D9HK6S2W,5.0,17.0,29.0,N,N
2557287,R2QCF5NWYPK06U,5.0,86.0,106.0,N,N

In [8]:
vine_count = vine_review_df['review_id'].count()
unpaid_count = unpaid_review_df['review_id'].count()
print(vine_count)
print(unpaid_count)

386
48717

In [9]:
vine_5stars = vine_review_df['review_id'][vine_review_df['star_rating'] == 5].count()
unpaid_5stars = unpaid_review_df['review_id'][unpaid_review_df['star_rating'] == 5].count()
print(vine_5stars)
print(unpaid_5stars)

176
24026

In [10]:
percentage_5star_vines = vine_5stars / vine_count * 100
percentage_5star_unpaid = unpaid_5stars / unpaid_count * 100
print(percentage_5star_vines)
print(percentage_5star_unpaid)

45.59585492227979
49.317486708951705

In [12]:
vine_summary = {'Review Type': ['Vine', 'Unpaid'],
                'Total Reviews': [vine_count, unpaid_count],
                'Number 5-Star Reviews': [vine_5stars, unpaid_5stars],
                'Percentage 5-Star Reviews': [percentage_5star_vines, percentage_5star_unpaid]}
                
vine_summary_df = pd.DataFrame(vine_summary)
vine_summary_df.set_index('Review Type', inplace=True)
vine_summary_df['Percentage 5-Star Reviews'] = vine_summary_df['Percentage 5-Star Reviews'].map("{:.1f}%".format)
vine_summary_df['Total Reviews'] = vine_summary_df['Total Reviews'].map("{:,}".format)
vine_summary_df['Number 5-Star Reviews'] = vine_summary_df['Number 5-Star Reviews'].map("{:,}".format)
vine_summary_df

            Total Reviews Number 5-Star Reviews Percentage 5-Star Reviews
Review Type
Vine                  386                   176                     45.6%
Unpaid             48,717                24,026                     49.3%